.footerBg{
    background-image: url('../../public/images/footer.png');
    width: 100%;
    height: auto;
    // background-size: 100% 100%;
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
}
.footerWrapper{
    // width: 100vw;
    padding: 100px 50px 0px 70px;
    color: #fff;
    ul{
        list-style: none;
        padding: 0;
        a{
            font-size: 12px;
            color: #fff;
            text-decoration: none;
        }
    }
    svg{
        color: #fff;
    }
}
.nav{
    ul{
        display: flex;
        gap: 3rem;
    }
}
.infoWrap{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    h1{
        margin-bottom: 20px;
        font-size: 24px;    
    }
    p{
        font-size: 14px;
    }
    
}
.contactWrap{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    p{
        margin-bottom: 0;
    }
}
.messageWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.4rem;
    .sns{
        display: flex;
        gap: 2.2rem;
        p{
            width: 4.5rem;
            height: 4.5rem;
            border: 1.6px solid #fff;
            border-radius: 100rem;
            text-align: center;
            line-height: 3.8rem;
            svg{
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
    .mail{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p{
            padding: 12px 23px;
            border-radius: 30px;
            font-size: 14px;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            span{
                padding-left: 16px;
                svg{
                    margin: auto 0;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}
.footerWrap{
    display: flex;
    align-items: center;
    // flex-direction: column;
    height: 4rem;
    width: 100%;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        top: 0;
        // margin-bottom: 20px;
        border-top: 1px solid #fff;
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0;
        a{
            padding-right: 10px;
        }
    }
}
