@import '/styles/variables';

.newsWrap{
    margin: 100px 50px 0 50px;
    display: flex;
    justify-content: baseline;
    gap: 2rem;
    a{
        text-decoration: none;
    }
    .newsContent{
        padding: 6px;
        max-width: 380px;
        border-radius: 10px;
        background: $accent-color-white;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        .item{
            margin-top: 10px;
            display: flex;
            gap: 1rem;
            .data{
                display: flex;
                align-items: center;
                gap: 3px;
                color: $text-color-gray;
                font-size: 12px;
            }
            .blogTag{
                padding: 0 16px;
                border-radius: 40px;
                color: $accent-color-white;
                text-align: center;
                font-size: 10px;
                line-height: 22px;
                background-color: $tourTag-bg;
            }
            .tourTag{
                @extend .blogTag;
                background-color: $newsTag-bg;
            }
        }
        .newsTtl{
            color: $text-color;
            font-size: 20px;
            margin: 5px 0 10px;
        }
        .newsText{
            color: $text-color-gray;
            font-size: 20px;
        }
    }
}   

@media screen and (max-width:1000px){
    .newsWrap{
        max-width: 333px;
        margin: auto;
        padding: 50px 6px 10px 6px;
        flex-direction: column;
        .newsContent{
            .item{
                margin: 6px 0 11px;
                .blogTag,.tourTag{
                    padding: 0 8px;
                    font-size: 8px;
                }
            }
            .newsTtl{
                font-size: 16px;
            }
            .newsText{
                font-size: 12px;
            }
        }
    }
}
