@import '/styles/variables';

.pageNavi {
    padding: 10rem 0 10rem;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        li {
            list-style: none;
            a {
                padding: 8px 12px;
                color: $text-color;
                font-size: 16px;
                border-radius: 5px;
                text-decoration: none;
                background: $accent-color-white;
                &:hover {
                    color: $accent-color-white;
                    background: $accent-color-brown;
                }
            }
        }
    }
}
