.tagSelectBox {
    width: 100%;
    min-width: 710px;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
        font-size: 24px;
    }
    .btnSelect {
        border-radius: 4rem;
        padding: 3px;
        cursor: pointer;
        div {
            width: 13.2rem;
            height: 2.6rem;
            border-radius: 4rem;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #f1f1f1;
            user-select: none;
        }
        .tourAddTag {
            background: #91d1df;
        }
        .blogAddTag {
            background: #ed9292;
        }
        &.active {
            border: 2px solid #45df69;
        }
        &:nth-child(3) {
            margin-left: 16px;
        }
    }
}
.editorContainer {
    width: 100%;
    min-height: 200px;
    height: auto;
}
.sendBtn {
    width: 140px;
    height: 40px;
    border-radius: 1rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.spinnerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    .spinner {
        width: 5rem;
        height: 5rem;
    }
}
