.MainVisual {
    position: relative;
}

.imgDiv {
    width: 100%;
    height: 100vh;
    background: url('../../public/images/blog_osaka/picture_03.webp') no-repeat center center / cover;
    mask-image: url('../../public/images/firstviewMask.png');
    -webkit-mask-image: url('../../public/images/firstviewMask.png');
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
