.bg{
    background: url(../../public/images/bg.png);
    background-size: contain;
    background-position: top center;
}
.blogWrap{
    margin: 0 auto;
    max-width: 1000px;
}
.blogHeader{
    width: fit-content;
    h1{
        img{
            max-width: 1000px;
            min-height: 490px;
        }
    }
    .item{
        margin-top: 20px;
        display: flex;
        gap: 1.8rem;
        .time{
            display: flex;
            align-items: center;
            gap: 3px;
            color: #9e9e9e;
        }
        .kinds{
            width: 132px;
            border-radius: 40px;
            color: #fefefe;
            text-align: center;
            background-color: #ED9292;
        }
    }
    .ttl{
        margin-top: 10px;
        font-size: 42px;
    }
}

.text{
    margin-top: 60px;
    font-size: 18px;
}

.picWrap{
    .pic{
        width: fit-content;
        margin: 50px auto 20px;
        img{
            max-width: 800px;
            min-height: 610px;
        }
    }
    .sup{
        text-align: center;
        font-size: 16px;
    }
}
