<<<<<<< HEAD
@import '/styles/variables';

=======
>>>>>>> main
.bg {
    background: url(../../public/images/bg.png);
    background-size: contain;
    background-position: top center;
}
.blogWrap {
    margin: 0 auto;
    max-width: 1000px;
}
.blogHeader {
    img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        max-width: 1000px;
        max-height: 490px;
    }
    .item {
        margin-top: 20px;
        display: flex;
        gap: 1.8rem;
        .time {
            display: flex;
            align-items: center;
            gap: 3px;
            color: $text-color-gray;
        }
        .kinds {
            padding: 2px 40px;
            border-radius: 40px;
            color: $accent-color-white;
            text-align: center;
<<<<<<< HEAD
            background-color: $add-tour-tag-bg;
=======
            background-color: #ed9292;
>>>>>>> main
        }
    }
    .ttl {
        margin-top: 10px;
        font-size: 42px;
    }
}

.text {
    margin-top: 60px;
    font-size: 18px;
}

.picWrap {
    .pic {
        width: fit-content;
        margin: 50px auto 20px;
        img {
            width: 100%;
            height: 100%;
            max-width: 800px;
            max-height: 610px;
            border-radius: 10px;
        }
    }
    .sup {
        text-align: center;
        font-size: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .item,
    .ttl,
    .picWrap,
    .text {
        padding: 0 14px;
    }
    .blogHeader {
        img {
            border-radius: 0;
        }
        .item {
            font-size: 14px;
            .kinds {
                padding: 2px 30px;
            }
        }
        .ttl {
            font-size: 28px;
        }
    }
    .text {
        margin-top: 40px;
        font-size: 16px;
    }
    .picWrap {
        .pic {
            margin: 20px auto 10px;
        }
        .sup {
            font-size: 14px;
        }
    }
}
