@import '/styles/variables';

.container {
    max-width: 1280px;
    margin: 0 auto;
}
.toursWrap {
    margin: 50px 0 0 50px;
    display: flex;
    gap: 4rem;
}

.toursContent {
    .pref {
        display: flex;
        align-items: center;
        gap: 1rem;
        .ToursPlace {
            font-size: 20px;
        }
    }
    .toursTtl {
        margin: 10px 0 5px;
        font-size: 40px;
    }

    .text {
        margin-top: 60px;
        font-size: 16px;
    }
    .attn {
        margin: 25px 0 75px;
        font-size: 14px;
        color: $accent-color-crimson;
    }
    .appt {
        p {
            font-size: 22px;
            &:first-child {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
    }
}
.toursPrice {
    font-size: 20px;
}
.toursTtl {
    margin: 10px 0 5px;
    font-size: 36px;
}

.contentTtl {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 100px 0 0 50px;
    h2 {
        font-size: 30px;
        font-weight: 500;
    }
}
.pointContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    .text {
        max-width: 660px;
        padding-right: 20px;
    }
}
.sinWrap {
    background-color: $accent-color-white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3rem;
    font-size: 20px;
    .border {
        border: 1px solid $text-color;
        border-radius: 20px;
        div {
            display: flex;
            gap: 1rem;
            padding: 10px 7px;
        }
        input {
            width: 200px;
            background: none;
        }
        select {
            @extend input;
            margin-left: 20px;
            border: none;
        }
    }
    .line {
        border: 0.5px $text-color solid;
    }
}
.detail {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.total {
    padding: 10px 0 55px;
    display: flex;
    justify-content: space-between;
}
.lineBtn {
    a {
        text-decoration: none;
        color: $accent-color-white;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 6rem;
    color: $accent-color-white;
    border-radius: 10px;
    background: url(../../public/images/lineBg.svg) no-repeat;
    background-position: center center;
    background-size: cover;
}

.item {
    margin: 180px auto 135px;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: fit-content;
    background: $accent-color-white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 999px;
    p {
        margin: 10px;
        padding: 12px 84px;
        border-radius: 999px;
        transition: 0.3s ease-in-out background;
        &:hover {
            color: $accent-color-white;
            background: $accent-color-brown;
        }
    }
}

.circle {
    position: relative;
    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        border: solid 2px $text-color;
        background-color: $text-color;
        border-radius: 50%;
        left: 116px;
        z-index: 1000;
    }
    &::after {
        top: 50px;
    }
    &::before {
        bottom: 100px;
    }
}
.borderBox {
    position: absolute;
    height: 100%;
    width: 2px;
    left: 120px;
    padding: 50px 0 100px 0;
    div {
        height: 100%;
        width: 100%;
        border: solid 2px $text-color;
    }
}
.borderline {
    position: relative;
}

@media screen and (max-width: 820px) {
    .container {
        margin: 0;
        padding: 0 20px;
    }
    .circle {
        &::after,
        &::before {
            width: 10px;
            height: 10px;
            left: 7px;
        }
        &::before {
            bottom: 146px;
            border: 1px;
        }
    }
    .borderBox {
        padding-bottom: 150px;
        left: 10px;
    }
    .toursWrap {
        margin: 0;
        gap: 0;
        flex-direction: column;
        .toursContent {
            .toursTtl {
                font-size: 24px;
            }
            .text {
                margin-top: 30px;
            }
            p {
                font-size: 14px;
            }
            .attn {
                margin: 15px 0 20px;
                font-size: 12px;
            }
        }
    }
    .contentTtl {
        margin: 100px 0 0 0;
        h2 {
            font-size: 24px;
        }
    }
    .lineBtn {
        font-size: 16px;
        padding: 10px 30px;
        gap: 1.5rem;
    }
    .pointContent {
        flex-direction: column;
        align-items: center;
        padding: 0;
        .text {
            width: fit-content;
            margin: 30px 0 100px;
            padding: 0;
        }
    }
    .item {
        margin: 100px auto 20px;
        p {
            font-size: 12px;
            padding: 5px 35px;
            margin: 4px;
        }
    }
}
