@import '/styles/variables';

.newsWrap {
    display: flex;
    justify-content: baseline;
    gap: 2rem;
    a {
        text-decoration: none;
    }
    .newsContent {
        padding: 6px;
        max-width: 330px;
        height: 450px;
        border-radius: 10px;
        background: $accent-color-white;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        .thumb {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
        .item {
            margin-top: 10px;
            display: flex;
            gap: 1rem;
            .data {
                display: flex;
                align-items: center;
                gap: 3px;
                color: $text-color-gray;
                font-size: 12px;
            }
            .blogTag {
                padding: 0 16px;
                border-radius: 40px;
                color: $accent-color-white;
                text-align: center;
                font-size: 10px;
                line-height: 22px;
                background-color: $add-news-tag-bg;
            }
            .tourTag {
                @extend .blogTag;
                background-color: $add-tour-tag-bg;
            }
        }
        .newsTtl {
            color: $text-color;
            font-size: 20px;
            margin: 5px 0 10px;
        }
        .newsText {
            color: $text-color-gray;
            font-size: 18px;
            max-height: 180px;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 820px) {
    .newsWrap {
        max-width: 315px;
        flex-direction: column;
        .newsContent {
            height: 360px;
            .item {
                margin: 5px 0 5px;
                .blogTag,
                .tourTag {
                    padding: 0 8px;
                    font-size: 8px;
                }
            }
            .newsTtl {
                font-size: 16px;
                margin: 5px 0 5px;
            }
            .newsText {
                font-size: 12px;
            }
        }
    }
}
