@import '/styles/variables';

.pageNavi {
    align-self: center;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 40px;
        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            padding: 8px 12px;
            background: $accent-color-white;
            border-radius: 5px;
            &:hover {
                color: $accent-color-white;
                background: $accent-color-brown;
                p {
                    color: $accent-color-white;
                }
            }
            &.active {
                color: $accent-color-white;
                background: $accent-color-brown;
                p {
                    color: $accent-color-white;
                }
            }
            p {
                color: $text-color;
                font-size: 16px;
            }
        }
    }
}
