@import '/styles/variables';

.pageNavi {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 40px;
        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                padding: 8px 12px;
                color: $text-color;
                font-size: 16px;
                border-radius: 5px;
                background: $accent-color-white;
                &:hover {
                    color: $accent-color-white;
                    background: $accent-color-brown;
                }
            }
        }
    }
}
