@import '/styles/variables';

.contentTtl {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 100px 0 0 50px;
    h2 {
        font-size: 30px;
        font-weight: 500;
    }
}
.pointContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    .text {
        max-width: 660px;
        padding-right: 20px;
    }
}
.sinWrap {
    background-color: $accent-color-white;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 3rem;
    font-size: 20px;
    .border {
        border: 1px solid $text-color;
        border-radius: 20px;
        div {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            padding: 10px 7px;
        }
        input {
            width: 200px;
            background: none;
        }
        select {
            @extend input;
            border: none;
        }
    }
    .line {
        border: 0.5px $text-color solid;
    }
}
.detail {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.total {
    padding: 10px 0 55px;
    display: flex;
    justify-content: space-between;
}
.lineBtn {
    a {
        text-decoration: none;
        color: $accent-color-white;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 6rem;
    color: $accent-color-white;
    border-radius: 10px;
    background: url(../../../public/images/lineBg.svg) no-repeat;
    background-position: center center;
    background-size: cover;
}

.item {
    margin: 180px auto 135px;
    display: flex;
    align-items: center;
    font-size: 24px;
    width: fit-content;
    background: $accent-color-white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 999px;
    button {
        height: 50px;
        width: 320px;
        margin: 10px;
        background-color: unset;
        border-radius: 999px;
        transition: 0.3s ease-in-out background;
        &.active {
            color: $accent-color-white;
            background: $accent-color-brown;
        }
        &:hover {
            background: $accent-color-brown;
            color: $accent-color-white;
        }
    }
}
@media screen and (max-width: 820px) {
    .contentTtl {
        margin: 50px 0 0 0;
        h2 {
            font-size: 24px;
        }
    }
    .lineBtn {
        font-size: 16px;
        padding: 10px 30px;
        gap: 1.5rem;
    }
    .pointContent {
        flex-direction: column;
        align-items: center;
        padding: 0;
        .text {
            width: fit-content;
            margin: 30px 0 50px;
            padding: 0;
        }
    }
    .item {
        margin: 80px auto 20px;
        button {
            font-size: 14px;
            height: 30px;
            width: 150px;
            margin: 4px;
        }
    }
}
