@import '/styles/variables';

.toursWrap {
    display: flex;
    justify-content: baseline;
    gap: 2rem;
    margin-top: 50px;
    a {
        text-decoration: none;
    }
    .toursContent {
        padding: 6px;
        max-width: 360px;
        height: 450px;
        border-radius: 10px;
        background: $accent-color-white;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        .thumb {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px 10px 0 0;
            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
    .toursTtl {
        color: $text-color;
        font-size: 20px;
        margin: 5px 0 10px;
    }
    .toursText {
        color: $text-color-gray;
        font-size: 20px;
        max-height: 180px;
        overflow: hidden;
    }
}

@media screen and (max-width: 820px) {
    .toursWrap {
        max-width: 315px;
        margin: auto;
        padding: 25px 0 10px 0;
        flex-direction: column;
        .toursContent {
            height: 340px;
            .toursTtl {
                font-size: 16px;
            }
            .toursText {
                font-size: 12px;
            }
        }
    }
}
