@import url(normalize.css);

@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Kiwi Maru", sans-serif;
	background-color: #f5f5f5;
}
